nav {
  &.navbar.navbar-default {
    background-color: $color-white;
    border-radius: 0;

    .nav.navbar-nav {
      li {
        a {
          .glyphicon {
            padding-right: 10px;
          }
        }
      }
    }
  }
}