nav {
  &.navbar.navbar-default {
    background-color: $color-white;
    border-radius: 0;

    .navbar-header {
      .navbar-brand {
        .logo {
          display: inline;
          width: 7%;
          margin-right: 4%;
        }
      }
    }

    .nav.navbar-nav {
      li {
        a {
          .glyphicon {
            padding-right: 10px;
          }
        }
      }
    }
  }
}